{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Car Chart</title>
    <script src="{% static 'addons/p5.min.js' %}"></script>
    <script src="{% static 'addons/p5.js' %}"></script>
    <script src="{% static 'sketch.js' %}"></script>
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col" style="text-align: left">
          <h1 style="margin-top: 20px"><i>Project Car Chart [🚗]</i></h1>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-4">

          <div class="row">
            <div class="col" style="text-align: left">
              <h2 style="margin-bottom: 20px;">Filters</h2>
              <form>

                <h5>Body Type</h5>
                <div class="form-check">
                  <input type="checkbox" name="bodytype1" value="sedan" checked> Sedan<br>
                  <input type="checkbox" name="bodytype2" value="suv"> SUV<br>
                  <input type="checkbox" name="bodytype3" value="hatchback"> Hatchback<br>
                </div>

                <h5>Fuel Type</h5>
                <div class="form-check">
                  <input type="checkbox" name="fueltype1" value="gas"> Gas<br>
                  <input type="checkbox" name="fueltype2" value="hybrid"> Hybrid<br>
                  <input type="checkbox" name="fueltype3" value="electric" checked> Electric<br>
                  <input type="checkbox" name="fueltype4" value="diesel" checked> Diesel<br>
                </div>

                <h5>Seating Capacity</h5>
                2<input type="range" name="points" min="2" max="8">8

              </form>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-dark btn-lg">GENERATE</button>
            </div>
          </div>

        </div>
        <div class="col-8">
          <div id="p5container"></div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col">
          Made by Efe, Mac, Marcos, and Riley for PennApps XX
        </div>
      </div>

    </div>
  </body>
</html>
